@charset "ISO-8859-1";
body{
background-color: black;
height: 800px;
}

h1{
	color: white;
	
}

h2{
	color: white;
}

form{
	position: fixed;
	margin-top: 200px;
}

footer{
	color: white;
	position: fixed;
    bottom: 0;
}
p{
	color: white;
	position: fixed;
	margin-top: 160px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 800px;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  flex-basis: 50px;
}